*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
gradlew
gradlew.bat
.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
app/src/test/java/view/custom/yyr/com/cricleimageview/ExampleUnitTest.java
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
ycricleimageview/src/test/java/view/custom/yyr/com/ycricleimageview/ExampleUnitTest.java
/.idea/
/gradle/
